<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>LET ADD YOUR HOUSE FOR SALE</h1>

<form action="/newhouse" method="post">

    <input type="text" placeholder="Town" name="Town"><br>
    <input type="text" placeholder="Adress" name="Adress"><br>
    <input type="text" placeholder="Area" name="Area"><br>
    <input type="number" placeholder="Price" name="Price"><br>
    <input type="submit">
</form>


</body>
</html>